{% extends "shop/base.html" %}
{% block content %}
    {% for product in products %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <img class="mr-2" src="{{ product.image.url }}">
              <br>
              <small class="text-muted">{{ product.price }} T</small>
            </div>
            <h2><a class="article-title" href="#">{{ product }}</a></h2>
            <p class="article-content">{{ product.desc }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}